@tailwind base;
@tailwind components;
@tailwind utilities;

#modListWrapper {
  width: 100%;
  height: 460px;
  overflow-y: scroll;
  margin-left: 100px;
}

#modListTable {
  width: 100%;
}

#app {
}

body {
  background-size: cover !important;
  display: block !important;
}

.logbox {
  width: 720px;
  height: 240px;
  background-color: #000000a3;
  margin-top: 10px;
  color: #ffffff;
  font-size: 10pt;
  padding: 6px;
  overflow-y: scroll;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #000000a3;
  border-radius: 5px;
  padding-left: 10px;
  resize: none;
}

.logboxWrapper {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

input {
  padding: 7px;
  width: 300px;
  border-radius: 5px;
  border: 0px;
  vertical-align: sub;
  margin-top: 5px;
  background-color: #000000a3;
  color: #fff;
}

.form-control {
  font-size: 0.8rem !important;
}

.img {
  height: 100px
}

.logo_fs25_mst {
  display: flex;
  padding: 3px;
}

.actions {
  align-items: center !important;
  justify-content: center !important;
  padding-top: 0px !important;
}

.versions {
  position: relative !important;
  bottom: 0px !important;
  margin-top: 36px !important;
}

.tablistWrapper {
  width: 720px;
  margin: 0 auto;
  height: 231px;
}

.nav-item {
  background-color: #000000a3;
  border-radius: 5px;
}

.nav-link {
  color: #fff !important;
}

.nav-link.active {
  background-color: #212529 !important;
}

.tab-content {
  background-color: #000000a3;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0px;
  min-height: 240px
}
.button_hostname {
  background-color: #979797 !important;
}

.action a {
  border-radius: 5px !important;
  background-color: #2b8715 !important;
}
.action a:hover {
  background-color: #ff3030 !important;
}

.table, .table-dark {
  --bs-table-bg: #00000000 !important;
  font-size: 0.8rem;
}

.input-group .btn {
  background-color: #104501;
  --bs-btn-hover-bg: #1a7401;
}

.checkInterval {
  max-width: 50%;
}

.about {
  width: 100%;
}

.about ul {
  padding-top: 10px
}



