#modListWrapper {
  width: 100%;
  height: 460px;
  overflow-y: scroll;
  margin-left: 100px;
}

#modListTable {
  width: 100%;
}

.logbox {
  width: 720px;
  height: 210px;
  background-color: #000000a3;
  margin-top: 10px;
  color: #ffffff;
  font-size: 10pt;
  padding: 6px;
  overflow-y: scroll;
  scrollbar-width: thin;
}



  