@tailwind base;
@tailwind components;
@tailwind utilities;

#modListWrapper {
  width: 100%;
  height: 460px;
  overflow-y: scroll;
  margin-left: 100px;
}

#modListTable {
  width: 100%;
}

#app {
}

body {
  background-size: cover !important;
  display: block !important;
}

.logbox {
  width: 720px;
  height: 250px;
  background-color: #000000a3;
  margin-top: 10px;
  color: #ffffff;
  font-size: 10pt;
  padding: 6px;
  overflow-y: scroll;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #000000a3;
  border-radius: 5px;
  padding-left: 10px;
  resize: none;
}

.logboxWrapper {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

input {
  padding: 7px;
  width: 300px;
  border-radius: 5px;
  border: 0px;
  vertical-align: sub;
  margin-top: 5px;
  background-color: #000000a3;
  color: #fff;
}

.form-control {
  font-size: 0.8rem !important;
}
.form-select {
  font-size: 0.8rem !important;
}
.btn {
  font-size: 0.8rem !important;
}

/* Tooltip container */
.tooltipx {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipx .tooltiptext {
  visibility: hidden;
  width: 400px;

  bottom: 100%;
  left: 50%;
  margin-left: -200px; /* Use half of the width (120/2 = 60), to center the tooltip */

  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  font-size: 0.8rem;
}
.tooltipx_bottom .tooltiptext_bottom {
  visibility: hidden;
  width: 400px;

  /* bottom: 100%; */
  top: 100%;
  left: 50%;
  margin-left: -200px; /* Use half of the width (120/2 = 60), to center the tooltip */

  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  font-size: 0.8rem;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipx:hover .tooltiptext {
  visibility: visible;
}
.tooltipx_bottom:hover .tooltiptext_bottom {
  visibility: visible;
}

.buymeacoffee {
  width: 260px;
  margin: 0 auto;
}

#profilesSettingsWrapper {
}

.overlayBackground {
  background-color: #000000d4;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
}

.centerAbsDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.centerDiv {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 20px;
  border-radius: 7px;
}

.profilesOverlay {
  position: absolute;
  background-color: #0c0c0c;
  /* height: 100%; */
  width: 95%;
  z-index: 999;
  top: 0px;
  padding: 20px;
  margin-inline: auto;
  left: 0;
  font-size: 0.8rem;
  border: 1px solid #417e49;
  display: none;
}

#profilesSettingsWrapper {
  margin-top: 15px;
}

.overlay_closeButton {
  float: right;
}

#profiles_serverList {
  height: 170px;
  overflow-y: auto;
}

.profiles_addServerWrapper {
  width: 86% !important;
  display: inline-flex !important;
}

.profiles_formLabel {
  width: fit-content;
  display: inline-flex;
  padding-right: 10px;
}
.profiles_inputTextSuccess {
  color: rgb(0, 196, 0) !important;
  font-weight: bold !important; 
}

.img {
  height: 100px
}

.logo_fs25_mst {
  display: flex;
  padding: 3px;
}

.actions {
  align-items: center !important;
  justify-content: center !important;
  padding-top: 0px !important;
  width: 200px;
}

.versions {
  position: relative !important;
  bottom: 0px !important;
  margin-top: 36px !important;
}

.tablistWrapper {
  width: 720px;
  margin: 0 auto;
  height: 231px;
}

.nav-item {
  background-color: #000000a3;
  border-radius: 5px;
}

.nav-link {
  color: #fff !important;
}

.nav-link.active {
  background-color: #212529 !important;
}

.tab-content {
  background-color: #000000a3;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0px;
  height: 270px;
  overflow-y: auto;
}
.button_hostname {
  background-color: #979797 !important;
}

.action a {
  border-radius: 5px !important;
  background-color: #2b8715 !important;
}
.action a:hover {
  background-color: #ff3030 !important;
}

.table, .table-dark {
  --bs-table-bg: #00000000 !important;
  font-size: 0.8rem;
}

.input-group .btn {
  background-color: #104501;
  --bs-btn-hover-bg: #1a7401;
}

.checkInterval {
  max-width: 50%;
}

.actions1 {
  width: 40%;
}

.icon {
  width: 16px;
}
.tooltipx {
  float: right;
}

.about {
  width: 100%;
}

.about ul {
  padding-top: 10px
}


.settings_td {
  width: 50%;
}